@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Poppins',sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-image:url('brushes.jpg');
    background-size:cover;
    background-attachment: fixed;
}


header{
    color:white;
    margin:0;
    border:0;
    padding:10px;
    font-family:"Bebas Neue", sans-serif;
    font-size:20px;
    display:flex;

}

header h1{
    margin-left:30px;
}

.description{
    color:#eee;
    margin-top:85px;
    margin-left:45px;
    font-size:28px;
}

.loginShow{
    position:absolute;
    top:35px;
    right:30px;
}

.signupShow{
    position:absolute;
    margin-left:45px;
    display:flex;
}

.loginPopup, .signupPopup{
    font-size:15px;
    width: 130px;
    height:50px;
    padding:5px;
    text-align: center;
    justify-content: center;
    margin-right:20px;
    font-family:'Poppins',sans-serif;
    border-radius:50px;
    border:none;
    background-color: #F4F3F2;
    color:#333333;
    cursor:pointer;
}

.loginPopup:hover{
    background-color: #cfcfcf;
    color:#333333;
    cursor:pointer;
    transition:0.5s ease;
}

.signupPopup:hover{
    background-color: #cfcfcf;
    color:#333333;
    cursor:pointer;
    transition:0.5s ease;
}



#loginText{
    margin:30px 0;
    text-align: center;
    font-size:40px;
    font-family:"Bebas Neue", sans-serif;
}

.login{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#F4F3F2;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
    color:#333333;
    width:20%;
    height:44vh;
    border-radius: 5px;
    padding:30px;
    font-size:15px;

}

.login.active-popup{
    transform:translate(-50%,-50%) scale(1);

}


.login .closebtn{
    position:absolute;
    top:17px;
    right:20px;
    font-size:20px;
    cursor:pointer;
    width:20px;
    height:20px;
    background:#888;
    color:#eee;
    text-align: center;
    line-height:20px;
    border-radius:15px;
}

.login .closebtn:hover{
    background:#636363;
    color:#eee;

}

label{
    color:#575757;
}

input{
    width:100%;
    padding:12px 0;
    background:transparent;
    border:none;
    border-bottom:1px solid rgb(199, 199, 199);
    color:#333333;
    margin-bottom:5px;
    font-family: 'Poppins',sans-serif;
}

input:focus{
    outline-width:0;
}

#loginBtn{
    margin:auto;
    justify-content: center;
    text-align:center;
    padding:10px;
}
#loginBtn button{
    width:101%;
    font-family:'Poppins',sans-serif;
    padding:12px 0;
    border-radius:10px;
    border:none;
    background: linear-gradient(180deg, rgba(9,24,65,1) 0%, rgba(0,54,77,1) 51%);
    color:white;
    cursor:pointer;
}

.input{
    padding:10px;
    font-size:14px;
}

#signupLink{
    color:rgba(0,54,77,1);
    font-size:13px;
}

#signup{
    display:flex;
    margin:auto;
    text-align: center;
    justify-content: center;
    padding:10px 0;
}

.signupform{
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#F4F3F2;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
    color:#333333;
    width:20%;
    height:49vh;
    border-radius: 5px;
    padding:30px;
    font-size:15px;
}

.signupform .closebtnSignup{
    position:absolute;
    top:17px;
    right:20px;
    font-size:20px;
    cursor:pointer;
    width:20px;
    height:20px;
    background:#888;
    color:#eee;
    text-align: center;
    line-height:20px;
    border-radius:15px;
}

#signupText{
    margin:30px 0;
    text-align: center;
    font-size:40px;
    font-family:"Bebas Neue", sans-serif;
}

#signupBtn button{
    width:101%;
    font-family:'Poppins',sans-serif;
    padding:12px 0;
    border-radius:10px;
    border:none;
    background: linear-gradient(180deg, rgba(9,24,65,1) 0%, rgba(0,54,77,1) 51%);
    color:white;
    cursor:pointer;
    margin-top:5%;
}

.signupform.active-popup{
    transform:translate(-50%,-50%) scale(1);

}